<div class="container">
  <bs-panel title="Dados Projeto">
    <div class="table-responsive" ng-show="project">
      <table class="table table-hover">
        <tr bs-row>
          <th scope="row">Código: </th>
          <td>{{project.code}}</td>
        </tr>
        <tr bs-row>
          <th scope="row">Nome:</th>
          <td>{{project.name}}</td>
        </tr>
        <tr bs-row>
          <th scope="row">Data criação</th>
          <td>{{project.created_at | date:dateFilter}}</td>
        </tr>
       </table>
     </div>
     <p class="text-info" ng-hide="project">
      Não há foi possível encontrar o projeto.
    </p>
    <a ng-href="{{projects_path}}" class="btn btn-default">Voltar</a>
  </bs-panel>
</div>
