<div class="container">
  <div class="jumbotron">
    <h1 class="text-xs-center">
    <image src="/images/error.png" alt="Página não encontrada" />
    Foi encontrado o seguinte erro:<h1>
    <p class="text-md-center"><%= error %></p>
  </div>
  <h2 class="text-xs-center">
    <a href="/">Voltar para a página principal</a>
  </h2>
</div>
