<div class="container">
  <div class="jumbotron">
    <h1>
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    Foi encontrado o seguinte erro:<h1>
    <p>{{error}}</p>
  </div>
  <h2 class="text-center">
    <a href="/">Voltar para a página principal</a>
  </h2>
</div>
