<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/#/">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ManagerTasks</title>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body ng-app="managerTasks">
  <div ng-controller="MainCtrl as main">
    <bs-nav title="ManagerTasks" url="#/">
      <bs-nav-item items="items"></bs-nav-item>
      <bs-form-login on-login="login()" on-logout="logout()"
        on-register="register()" current-user="currentUser" user="user">
      </bs-form-login>
    </bs-nav>
  </div>

  <bs-message id="message" message="message" on-close="clearMessage()"></bs-message>

  <div class="container-fluid">
    <div class="row">
      <div ng-view></div>
    </div>
  </div>

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-cookies/angular-cookies.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/services/interceptor.js"></script>
  <script src="/js/routes.js"></script>
  <script src="/js/services/auth.js"></script>
  <script src="/js/services/project.js"></script>
  <script src="/js/services/user.js"></script>
  <script src="/js/controllers/main.js"></script>
  <script src="/js/controllers/dashboard.js"></script>
  <script src="/js/controllers/projects.js"></script>
  <script src="/js/controllers/users.js"></script>
  <script src="/js/components/bs-components.js"></script>
</body>
</html>
